﻿@using ZSTUNews.Mvc.ViewModels.News
@model ZSTUNews.Mvc.ViewModels.News.ArticleAddViewModel

@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-Site", "~/bundles/stylesheet-Service", "~/bundles/stylesheet-Help")
}
<section class="Section-NewsAdd">
    <div class="title-head">
        <span>
            Adding news
        </span>
    </div>
    <div class="form-news-add">
        @using (Html.BeginForm("Add", "News", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.EditorForModel()
            <div>
                <div class="form-news-submits">
                    <input type="submit" value="Save the news item" class="btn-submit-creation" />
                    <div>
                        <div class="form-news-clean">
                            @Html.ActionLink(" ", "Add", "News")
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    @Html.Partial("Preview", new ArticleMainPageViewModel { CreationDate = DateTime.Now, UserName = User.Identity.Name })
</section>



@section scripts{
    <script src="~/CKEditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content", { height: 250 });
    </script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/jquery.preview.js"></script>
}