@model ZSTUNews.Mvc.ViewModels.News.ArticleMainPageViewModel


@section StyleSheet{
    @Styles.Render("~/bundles/stylesheet-News")
}
<section class="main-news-items">
    <div class="main-news-items-info">
        <time class="main-news-items-time">
            @Html.DisplayTextFor(ArticleMainPageViewModel => ArticleMainPageViewModel.CreationDate)
        </time>
        <section class="main-news-items-nameUser">
            @Html.DisplayTextFor(ArticleMainPageViewModel => ArticleMainPageViewModel.UserName)
        </section>
    </div>
    <div class="main-news-items-head">
        <h1>
            @Html.DisplayTextFor(ArticleMainPageViewModel => ArticleMainPageViewModel.Title)
        </h1>
    </div>
    <div class="main-news-items-content">
        <section class="text">
            @Html.Raw(Model.Content)
        </section>
    </div>
</section>

<template id="template-comment">
    <li class="content-list-item">
        <div class="comment">
            <div class="comment-head">
                <a href="#none" class="user-info">
                    <div class="img-user-info"></div>
                    <span></span>
                </a>
                <time>
                </time>
                <div class="comment-menu">
                    <input class="deleteComment" type="button" />
                </div>
            </div>
            <div class="comment-message"></div>
            <div class="comment-footer"></div>
        </div>
    </li>
</template>

@section scripts{
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.comment.js"></script>
}

