﻿@using ZSTUNews.Mvc.ViewModels.News
@model ZSTUNews.Mvc.ViewModels.News.ArticleViewModel

    @section StyleSheet{
        @Styles.Render("~/bundles/stylesheet-Site", "~/bundles/stylesheet-Service", "~/bundles/stylesheet-Help")
    }
    <section class="Section-NewsEdit">
        <div class="title-head">
            <span>News editing</span>
        </div>
        <div class="form-news-edit">
            @using (Html.BeginForm("Edit", "News", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
                <div class="form-news-submits">
                    <input type="submit" value="Save changes" class="btn-submit-edit" />
                    <div>
                        <div class="form-news-clean">
                            @Html.ActionLink(" ", "Add", "News")
                        </div>
                    </div>
                </div>

            }
        </div>
        @Html.Partial("Preview", new ArticleMainPageViewModel { CreationDate = Model.CreationDate, UserName = Model.UserName})
    </section>

    @section scripts{
        <script src="~/CKEditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace("Content", { height: 250 });
        </script>
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/jquery.preview.js"></script>
    }