﻿@using Microsoft.AspNet.Identity;
@using ZSTUNews.Mvc.ViewModels.News;
@using ZSTUNews.Mvc.Helpers;
@model NewsPageViewModel

@section StyleSheet {
    @Styles.Render("~/bundles/stylesheet-Home")
}

@section SortingNews {
    @if (Model.Thumbnails.Any())
    {
        if (Model.SortedByDate)
        {
            <li>
                @Html.ActionLink("SORTING NEWS", "Index", "News", new { sortedByDate = false }, new { @class = "sort" })
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("SORTING NEWS", "Index", "News", new { sortedByDate = true }, new { @class = "reverse-sort" })
            </li>
        }
    }
}

<section class="back-image">
    <div class="background-image">
        <!--Here is the picture-->
    </div>
    <div class="background-text">
        <span>NEWS PORTAL</span>
    </div>
</section>
<section class="news-head">
    <span>News</span>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="add-icon">
                @Html.ActionLink(" ", "Add", "News")
            </div>
        }
        <div class="sort-icon">
            @if (Model.Thumbnails.Any())
            {
                if (Model.SortedByDate)
                {
                    @Html.ActionLink(" ", "Index", "News", new { sortedByDate = false }, new { @class = "sort", title = "Sorted by date" })
                }
                else
                {
                    @Html.ActionLink(" ", "Index", "News", new { sortedByDate = true }, new { @class = "reverse-sort", title = "Sorted by date" })
                }
            }
        </div>
    </div>
</section>
<section class="news-item">
    @foreach (var item in Model.Thumbnails)
    {
        <article>
            @if (item.UserId == User.Identity.GetUserId())
            {
                <div class="menu-news-item">
                    @Html.ActionLink(" ", "Edit", "News", new { articleId = item.Id }, new { @class = "edit" })
                    <a href="#@item.Id" name="show-popup-window"></a>
                </div>
                @Html.Partial("DialogWindow", new DialogViewModel { Id = item.Id, Title = item.Title })
            }
            <div class="Title">
                <span>
                    @Html.ActionLink(item.Title, "Article", "News", new { articleId = item.Id }, new { @class = "show-MainNews" })
                </span>
            </div>
            <div class="NewsInformation">
                <div class="NameUser">
                    @Html.DisplayFor(thumbnail => item.UserName)
                </div>
                <div class="CreationDate">
                    @Html.DisplayFor(thumbnail => item.CreationDate)
                </div>
            </div>
        </article>
    }

</section>
<div class="block-prev-page">
    @Html.PageLinks(Model.LastPageIndex, Model.CurrentPageIndex,
                    number => Url.Action("Index", new { page = number, sortedByDate = Model.SortedByDate }))
</div>


@section scripts{
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.settingsStorage.js"></script>
}
