﻿@using ZSTUNews.Business.Entities
@model IList<User>

<section class="news-item">
    @foreach (var user in Model)
    {
        <article>
            <div class="Title">
                <span>
                    @user.UserName
                </span>
            </div>
        </article>
    }
</section>